In [2]:
import pandas as pd

# Abrimos el archivo  para el tratamiento de los data de Sitios

In [3]:
sitio=pd.read_csv("../01 - Data_tratados/Sitios_Unidos.csv")

In [4]:
sitio.head(1)

,Unnamed: 0,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,0,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",0x88f16e41928ff687:0x883dad4fd048e8f8,NaN,32.3883,-83.3571,['Pharmacy'],4.9,16,NaN,"[['Friday', '8AM–6PM'], ['Saturday', '8AM–12PM...","{'Service options': ['In-store shopping', 'Sam...",Open ⋅ Closes 6PM,"['0x88f16e41929435cf:0x5b2532a2885e9ef6', '0x8...",https://www.google.com/maps/place//data=!4m2!3...

# Nos Quedamos solo con las columnas necesarias

In [5]:
sitio=sitio[["category","latitude","longitude","gmap_id","name"]]

In [6]:
sitio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3025011 entries, 0 to 3025010
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   category   object
 1   latitude   float64
 2   longitude  float64
 3   gmap_id    object
 4   name       object
dtypes: float64(2), object(3)
memory usage: 115.4+ MB

In [7]:
sitio.head(1)

,category,latitude,longitude,gmap_id,name
0,['Pharmacy'],32.3883,-83.3571,0x88f16e41928ff687:0x883dad4fd048e8f8,Porter Pharmacy

# Abrimos el archivo  para el tratamiento de los data de Estados

In [8]:
Estado=pd.read_csv("Estados.csv")

# Nos quedamos con las columnas necesarias

In [9]:
Estado=Estado[["gmap_id","Estado"]]

In [10]:
Estado.head()

                                 gmap_id   Estado
0  0x8862134e67ff5c87:0x38b5e2ae99cd1fcf  Alabama
1  0x886268e8fdc4fd2f:0x746533eb9aa4d4df  Alabama
2  0x8889aeaec69d4d49:0xb5c343f9d441acf2  Alabama
3  0x88626b2e333be6d9:0x2a00a09a7045984f  Alabama
4   0x88890c0ff1fb3a1d:0x2b4463747ed6a8a  Alabama

# Creamos un Dataframe uniendo el csv de Estados y el csv de sitios

In [11]:
Dataframe = pd.merge(Estado,sitio, on='gmap_id')

## Limpiamos los datos faltantes y separamos solo para la categoria de Restaurant

In [12]:
Dataframe .dropna(subset=["category"], inplace=True)

In [13]:
def filtrar_dataframe(dataframe, columna, frase):
    nuevo_dataframe = dataframe[dataframe[columna].str.contains(frase)]
    return nuevo_dataframe

In [14]:
data=filtrar_dataframe(Dataframe,"category","restaurant")

In [15]:
def sacar(i):
    i=i.str.replace("[","")
    i=i.str.replace("]","")
    i=i.str.replace("'","")
  
    return i

In [22]:
data.dropna(subset=["category"], inplace=True)
category=pd.DataFrame(data["category"].astype(str))
category=category.apply(sacar, axis=1)
data=data.drop("category",axis=1)
data.insert(5, "category", category)
Datos_Procesados=data[["latitude","longitude","category","name","Estado"]]

C:\Users\victo\AppData\Local\Temp\ipykernel_3264\2260634179.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  i=i.str.replace("[","")
C:\Users\victo\AppData\Local\Temp\ipykernel_3264\2260634179.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  i=i.str.replace("]","")

In [23]:
Datos_Procesados

,latitude,longitude,category,name,Estado
12,33.381416,-86.807040,Pizza restaurant,California Pizza Kitchen at Riverchase Galleria,Alabama
13,33.381416,-86.807040,Pizza restaurant,California Pizza Kitchen at Riverchase Galleria,Alabama
14,33.100547,-86.861968,"Pizza delivery, Chicken wings restaurant, Pizz...",Pizza Hut,Alabama
15,33.100547,-86.861968,"Pizza delivery, Chicken wings restaurant, Pizz...",Pizza Hut,Alabama
18,32.631013,-85.437473,"Asian fusion restaurant, Dessert restaurant",Cheetos,Alabama
...,...,...,...,...,...
1084531,47.042392,-122.936001,"Asian fusion restaurant, Fast food restaurant,...",MiSo,Washington
1084536,48.512617,-121.469734,"Restaurant, ATM, Country food restaurant, Stea...",Glacier Peak Resort & Winery,Washington
1084542,48.179205,-117.044331,"Pizza restaurant, Italian restaurant",Newport Pizza,Washington
1084545,47.878470,-122.166333,Sushi restaurant,Fatty Fish Sushi Restaurant,Washington
1084554,47.543108,-122.019312,"Sandwich shop, Caterer, Fast food restaurant, ...",Jimmy John's,Washington

### Generamos el csv procesado

In [24]:
Datos_Procesados.to_csv("../01 - Data_tratados/Datos_Procesados.csv")