In [22]:
import pandas as pd

In [23]:
sitio=pd.read_csv("Sitios_Unidos.csv")

In [24]:
sitio.head(5)

,Unnamed: 0,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,0,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",0x88f16e41928ff687:0x883dad4fd048e8f8,NaN,32.388300,-83.357100,['Pharmacy'],4.9,16,NaN,"[['Friday', '8AM–6PM'], ['Saturday', '8AM–12PM...","{'Service options': ['In-store shopping', 'Sam...",Open ⋅ Closes 6PM,"['0x88f16e41929435cf:0x5b2532a2885e9ef6', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
1,1,City Textile,"City Textile, 3001 E Pico Blvd, Los Angeles, C...",0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,NaN,34.018891,-118.215290,['Textile exporter'],4.5,6,NaN,NaN,NaN,Open now,"['0x80c2c624136ea88b:0xb0315367ed448771', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
2,2,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,NaN,34.058092,-118.292130,['Korean restaurant'],4.4,18,NaN,"[['Thursday', '6:30AM–6PM'], ['Friday', '6:30A...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ⋅ Closes 6PM,"['0x80c2c78249aba68f:0x35bf16ce61be751d', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
3,3,Nova Fabrics,"Nova Fabrics, 2200 E 11th St, Los Angeles, CA ...",0x80c2c89923b27a41:0x32041559418d447,NaN,34.023669,-118.232930,['Fabric store'],3.3,6,NaN,"[['Thursday', '9AM–5PM'], ['Friday', '9AM–5PM'...","{'Service options': ['In-store shopping'], 'Pa...",Open ⋅ Closes 5PM,"['0x80c2c8811477253f:0x23a8a492df1918f7', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
4,4,Nobel Textile Co,"Nobel Textile Co, 719 E 9th St, Los Angeles, C...",0x80c2c632f933b073:0xc31785961fe826a6,NaN,34.036694,-118.249421,['Fabric store'],4.3,7,NaN,"[['Thursday', '9AM–5PM'], ['Friday', '9AM–5PM'...",{'Service options': ['In-store pickup']},Open ⋅ Closes 5PM,"['0x80c2c62c496083d1:0xdefa11317fe870a1', '0x8...",https://www.google.com/maps/place//data=!4m2!3...

In [25]:
sitio=sitio[["category","latitude","longitude","gmap_id","name"]]

In [26]:
sitio.isnull().count()

category     3025011
latitude     3025011
longitude    3025011
gmap_id      3025011
name         3025011
dtype: int64

In [27]:
sitio

,category,latitude,longitude,gmap_id,name
0,['Pharmacy'],32.388300,-83.357100,0x88f16e41928ff687:0x883dad4fd048e8f8,Porter Pharmacy
1,['Textile exporter'],34.018891,-118.215290,0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,City Textile
2,['Korean restaurant'],34.058092,-118.292130,0x80c2c778e3b73d33:0xbdc58662a4a97d49,San Soo Dang
3,['Fabric store'],34.023669,-118.232930,0x80c2c89923b27a41:0x32041559418d447,Nova Fabrics
4,['Fabric store'],34.036694,-118.249421,0x80c2c632f933b073:0xc31785961fe826a6,Nobel Textile Co
...,...,...,...,...,...
3025006,"['Restaurant', 'Bar']",42.289450,-87.954386,0x880f96c84b0ef57b:0xe75b67b15a2cfdad,The Green Room Of Libertyville
3025007,['Trucking company'],37.934318,-121.313102,0x80901260b5987b39:0x8a5028c253e7bee6,Klein Brothers Packaging
3025008,"['Beauty salon', 'Hair salon']",43.029664,-108.380849,0x8758dd1e2533c991:0x5f6d112918f07dba,Profiles Hair Design
3025009,"['Truck accessories store', 'Powder coating se...",33.680066,-112.113367,0x872b6f6f24aea445:0x22df9e5dd01e67ba,Arizona LINE-X
3025010,['Campground'],42.829621,-108.723720,0x875901f1fbd58357:0xed5174d5b088430c,US Forest Services Ranger Station

In [28]:
Estado=pd.read_csv("Estados.csv")

In [29]:
Estado=Estado[["gmap_id","Estado"]]

In [30]:
Estado

                                       gmap_id      Estado
0        0x8862134e67ff5c87:0x38b5e2ae99cd1fcf     Alabama
1        0x886268e8fdc4fd2f:0x746533eb9aa4d4df     Alabama
2        0x8889aeaec69d4d49:0xb5c343f9d441acf2     Alabama
3        0x88626b2e333be6d9:0x2a00a09a7045984f     Alabama
4         0x88890c0ff1fb3a1d:0x2b4463747ed6a8a     Alabama
...                                        ...         ...
1458618  0x54905ea486e1817f:0xc96b16d3a19c2630  Washington
1458619  0x5490f7c23e557ca3:0x9ab5bc936ace4a3b  Washington
1458620  0x5490594f83e49d6d:0x4e77bd04e0fd72f8  Washington
1458621  0x54905e98e7d5f58d:0xa93f0e72b84ee40b  Washington
1458622  0x5490f8388d138169:0xc64616ee8cb521ec  Washington

[1458623 rows x 2 columns]

In [31]:
Dataframe = pd.merge(Estado,sitio, on='gmap_id')

In [34]:
Dataframe .dropna(subset=["category"], inplace=True)

In [32]:
def filtrar_dataframe(dataframe, columna, frase):
    nuevo_dataframe = dataframe[dataframe[columna].str.contains(frase)]
    return nuevo_dataframe

In [35]:
data=filtrar_dataframe(Dataframe,"category","restaurant")

In [36]:
def sacar(i):
    i=i.str.replace("[","")
    i=i.str.replace("]","")
    i=i.str.replace("'","")
  
    return i

In [37]:
data.dropna(subset=["category"], inplace=True)
category=pd.DataFrame(data["category"].astype(str))
category=category.apply(sacar, axis=1)
data=data.drop("category",axis=1)
data.insert(4, "category", category)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_9164\3462840825.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.dropna(subset=["category"], inplace=True)

In [39]:
data

,gmap_id,Estado,latitude,longitude,category,name
12,0x8889221157fb3455:0x5c125c40c3eccc2a,Alabama,33.381416,-86.807040,Pizza restaurant,California Pizza Kitchen at Riverchase Galleria
13,0x8889221157fb3455:0x5c125c40c3eccc2a,Alabama,33.381416,-86.807040,Pizza restaurant,California Pizza Kitchen at Riverchase Galleria
14,0x88892bb449d44cb3:0x7beaf0b2e3171a49,Alabama,33.100547,-86.861968,"Pizza delivery, Chicken wings restaurant, Pizz...",Pizza Hut
15,0x88892bb449d44cb3:0x7beaf0b2e3171a49,Alabama,33.100547,-86.861968,"Pizza delivery, Chicken wings restaurant, Pizz...",Pizza Hut
18,0x888cedd24b6af451:0x9958558c300844df,Alabama,32.631013,-85.437473,"Asian fusion restaurant, Dessert restaurant",Cheetos
...,...,...,...,...,...,...
1084531,0x5491756b249e98c1:0xea99e1c578941d55,Washington,47.042392,-122.936001,"Asian fusion restaurant, Fast food restaurant,...",MiSo
1084536,0x5484dc6cf214971d:0xa2eba48db316e005,Washington,48.512617,-121.469734,"Restaurant, ATM, Country food restaurant, Stea...",Glacier Peak Resort & Winery
1084542,0x5362240bf2b1e7b5:0xcbc6b7a3acd302b9,Washington,48.179205,-117.044331,"Pizza restaurant, Italian restaurant",Newport Pizza
1084545,0x549007ac435e001d:0xc180eee6ba73b7ef,Washington,47.878470,-122.166333,Sushi restaurant,Fatty Fish Sushi Restaurant
1084554,0x54906ff2af973d71:0x552e8f142c66e8a7,Washington,47.543108,-122.019312,"Sandwich shop, Caterer, Fast food restaurant, ...",Jimmy John's

In [40]:
data.to_csv("Union.csv")