In [9]:
import pandas as pd

In [10]:
data=pd.read_csv("Union.csv")

In [11]:
data

,Unnamed: 0,gmap_id,Estado,category,avg_rating,name
0,0,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf,Alabama,['Boutique'],4.6,Purple Peanut
1,1,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf,Alabama,['Boutique'],4.6,Purple Peanut
2,2,0x886268e8fdc4fd2f:0x746533eb9aa4d4df,Alabama,"['Baby store', ""Children's furniture store""]",3.9,Posh Mommy & Baby Too!
3,3,0x886268e8fdc4fd2f:0x746533eb9aa4d4df,Alabama,"['Baby store', ""Children's furniture store""]",3.9,Posh Mommy & Baby Too!
4,4,0x8889aeaec69d4d49:0xb5c343f9d441acf2,Alabama,"['Movie rental kiosk', 'DVD store', 'Movie ren...",3.8,Redbox
...,...,...,...,...,...,...
1084599,1084599,0x5490550bf74a2a4d:0xdffe9bd523a53f1e,Washington,['Church'],4.6,Fellowship Group
1084600,1084600,0x5491004195a77427:0x51bf13430c3ff249,Washington,['Used car dealer'],4.1,Goodfella's Motor Co
1084601,1084601,0x5491014d6fbcd7fd:0xe027823a9d0e4ecf,Washington,['Clothing store'],4.4,Thrift Center
1084602,1084602,0x54923990302cb3c7:0x10f023b56efdb019,Washington,"['Driver and vehicle licensing agency', 'Local...",4.3,Hoquiam Licensing & Transportation Agency
1084603,1084603,0x54906ab43fffffff:0x69acbd12df532b6c,Washington,['Motorcycle parts store'],4.7,Dead Center Cycles

In [12]:
def sacar(i):
    i=i.str.replace("[","")
    i=i.str.replace("]","")
    i=i.str.replace("'","")
  
    return i

In [13]:
data.dropna(subset=["category"], inplace=True)
category=pd.DataFrame(data["category"].astype(str))
category=category.apply(sacar, axis=1)
data=data.drop("category",axis=1)
data.insert(4, "category", category)

In [ ]:
def filtrar_dataframe(dataframe, columna, frase):
    nuevo_dataframe = dataframe[dataframe[columna].str.contains(frase)]
    return nuevo_dataframe