In [1]:
from sys import path
import os
path.append(os.path.realpath("../../"))

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
from biblioteca import misFunciones as mf

In [3]:
sitio=pd.read_csv("../../Dataset/Sitios_Unidos.csv")

In [4]:
sitio.head(2)

,Unnamed: 0,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,0,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",0x88f16e41928ff687:0x883dad4fd048e8f8,NaN,32.388300,-83.35710,['Pharmacy'],4.9,16,NaN,"[['Friday', '8AM–6PM'], ['Saturday', '8AM–12PM...","{'Service options': ['In-store shopping', 'Sam...",Open ⋅ Closes 6PM,"['0x88f16e41929435cf:0x5b2532a2885e9ef6', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
1,1,City Textile,"City Textile, 3001 E Pico Blvd, Los Angeles, C...",0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,NaN,34.018891,-118.21529,['Textile exporter'],4.5,6,NaN,NaN,NaN,Open now,"['0x80c2c624136ea88b:0xb0315367ed448771', '0x8...",https://www.google.com/maps/place//data=!4m2!3...

In [5]:
sitio=sitio[["category","avg_rating","gmap_id","name", "latitude", "longitude"]]

In [6]:
sitio.isnull().count()

category      3025011
avg_rating    3025011
gmap_id       3025011
name          3025011
latitude      3025011
longitude     3025011
dtype: int64

In [7]:
sitio.head(1)

,category,avg_rating,gmap_id,name,latitude,longitude
0,['Pharmacy'],4.9,0x88f16e41928ff687:0x883dad4fd048e8f8,Porter Pharmacy,32.3883,-83.3571

In [8]:
Estado=pd.read_csv("../../Dataset/Estados.csv")

In [9]:
Estado=Estado[["gmap_id","Estado"]]

In [10]:
Dataframe = pd.merge(Estado,sitio, on='gmap_id')

In [11]:
Dataframe.to_csv("../../Dataset/Union_modificado.csv")

In [12]:
Union_modificado = pd.read_csv("../../Dataset/Union_modificado.csv")

In [13]:
split_point = len(Union_modificado) // 2
df1 = Union_modificado[:split_point].copy()
df2 = Union_modificado[split_point:].copy()

In [15]:
df1.to_csv('../../Dataset/Union_modificado_parte1.csv', index=False)
df2.to_csv('../../Dataset/Union_modificado_parte2.csv', index=False)