In [21]:
from sys import path
import os
path.append(os.path.realpath("../"))

In [22]:
import pandas as pd
import numpy as np
from biblioteca import misFunciones as mf

In [23]:
sitios_unidos_df = pd.read_csv("Dataset/Sitios_Unidos.csv")

In [24]:
sitios_unidos_df.head()

,Unnamed: 0,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,0,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",0x88f16e41928ff687:0x883dad4fd048e8f8,NaN,32.388300,-83.357100,['Pharmacy'],4.9,16,NaN,"[['Friday', '8AM–6PM'], ['Saturday', '8AM–12PM...","{'Service options': ['In-store shopping', 'Sam...",Open ⋅ Closes 6PM,"['0x88f16e41929435cf:0x5b2532a2885e9ef6', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
1,1,City Textile,"City Textile, 3001 E Pico Blvd, Los Angeles, C...",0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,NaN,34.018891,-118.215290,['Textile exporter'],4.5,6,NaN,NaN,NaN,Open now,"['0x80c2c624136ea88b:0xb0315367ed448771', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
2,2,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,NaN,34.058092,-118.292130,['Korean restaurant'],4.4,18,NaN,"[['Thursday', '6:30AM–6PM'], ['Friday', '6:30A...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ⋅ Closes 6PM,"['0x80c2c78249aba68f:0x35bf16ce61be751d', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
3,3,Nova Fabrics,"Nova Fabrics, 2200 E 11th St, Los Angeles, CA ...",0x80c2c89923b27a41:0x32041559418d447,NaN,34.023669,-118.232930,['Fabric store'],3.3,6,NaN,"[['Thursday', '9AM–5PM'], ['Friday', '9AM–5PM'...","{'Service options': ['In-store shopping'], 'Pa...",Open ⋅ Closes 5PM,"['0x80c2c8811477253f:0x23a8a492df1918f7', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
4,4,Nobel Textile Co,"Nobel Textile Co, 719 E 9th St, Los Angeles, C...",0x80c2c632f933b073:0xc31785961fe826a6,NaN,34.036694,-118.249421,['Fabric store'],4.3,7,NaN,"[['Thursday', '9AM–5PM'], ['Friday', '9AM–5PM'...",{'Service options': ['In-store pickup']},Open ⋅ Closes 5PM,"['0x80c2c62c496083d1:0xdefa11317fe870a1', '0x8...",https://www.google.com/maps/place//data=!4m2!3...

In [25]:
sitios_unidos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3025011 entries, 0 to 3025010
Data columns (total 16 columns):
 #   Column            Dtype
---  ------            -----
 0   Unnamed: 0        int64
 1   name              object
 2   address           object
 3   gmap_id           object
 4   description       object
 5   latitude          float64
 6   longitude         float64
 7   category          object
 8   avg_rating        float64
 9   num_of_reviews    int64
 10  price             object
 11  hours             object
 12  MISC              object
 13  state             object
 14  relative_results  object
 15  url               object
dtypes: float64(3), int64(2), object(11)
memory usage: 369.3+ MB

In [26]:
nulos_por_columna = sitios_unidos_df.isnull().sum()

print(nulos_por_columna)

Unnamed: 0                0
name                     67
address               80511
gmap_id                   0
description         2770722
latitude                  0
longitude                 0
category              17419
avg_rating                0
num_of_reviews            0
price               2749808
hours                787405
MISC                 690834
state                746455
relative_results     295058
url                       0
dtype: int64

In [27]:
mf.valorUnico(sitios_unidos_df, "price")

[nan '$' '$$' '$$$' '$$$$' '₩' '₩₩' '₩₩₩' '₩₩₩₩']

In [28]:
mf.valorUnico(sitios_unidos_df, "description")

[nan
 'Chain selling interior & exterior paints, primers & finishes, plus supplies.'
 'Wireless provider offering prepaid mobile phones, coverage plans & a range of accessories.'
 ...
 'Trendy spot for creative Chinese dim sum & larger plates including ample seafood plus sweets.'
 'Spacious beauty boutique offering hair coloring & cuts, plus manicures, pedicures & makeup services.'
 'Innovative, globally inspired dishes are paired with wine, cocktails & sake in offbeat surrounds.']

In [29]:
mf.valorUnico(sitios_unidos_df, "category")

["['Pharmacy']" "['Textile exporter']" "['Korean restaurant']" ...
 "['Distribution service', 'Construction', 'Store']"
 "['BMX park', 'BMX club', 'BMX track', 'Sports complex']"
 "['Bar & grill', 'Karaoke bar', 'Pub']"]

In [30]:
# mf.verificarTipoDato(sitios_unidos_df)

In [31]:
# sitios_unidos_df["category"] = sitios_unidos_df["category"].apply(mf.transformar_cadena)

In [32]:
# sitios_unidos_df["hours"] = sitios_unidos_df["hours"].apply(mf.transformar_cadena)

In [33]:
# sitios_unidos_df["MISC"] = sitios_unidos_df["MISC"].apply(mf.transformar_cadena)

In [34]:
# mf.verificarTipoDato(sitios_unidos_df)

In [35]:
# Verificar si la palabra "restaurant" está presente en la columna "category"
restaurant_present = sitios_unidos_df['category'].str.contains('restaurant', case=False)

# Mostrar los resultados
print(restaurant_present)

0          False
1          False
2           True
3          False
4          False
           ...
3025006     True
3025007    False
3025008    False
3025009    False
3025010    False
Name: category, Length: 3025011, dtype: object